<section>
  <h1>A-Propos</h1>
  <p>Bienvenue sur
    <strong>SwapPage</strong>, la plateforme dédiée aux passionnés de lecture et
    aux amateurs de découvertes littéraires ! Nous offrons un espace unique où
    chacun peut échanger les livres qu’il ne lit plus contre de nouvelles
    histoires à explorer. Que vous soyez amateur de romans, de biographies, de
    mangas ou de livres jeunesse, notre site vous permet de renouveler votre
    bibliothèque tout en partageant vos lectures avec d’autres passionnés.</p>
  <p>
    Grâce à une communauté active et bienveillante,
    <strong>SwapPage</strong>
    facilite les échanges de manière simple et sécurisée. Naviguez dans une
    vaste sélection de livres proposés par d’autres utilisateurs, trouvez celui
    qui vous manque, et donnez une seconde vie aux ouvrages que vous possédez.
    Rejoignez-nous pour participer à un mouvement collaboratif et responsable
    qui célèbre le plaisir de lire tout en réduisant le gaspillage.
  </p>

  <h3>Échangez, découvrez, et faites voyager les histoires avec
    <strong>SwapPage</strong>!</h3>
</section>