/* style pour toute les pages*/
* {
  margin: 0;
  padding: 0;
}

/* style pour le body de toute les pages*/
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/* style pour ul de toute les pages */
ul {
  list-style: none;
}

/*styles pour les deux boutons (accueil / creer echange) de toute les pages*/
button {
  background-color: blue;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
}

/*styles pour les deux boutons (accueil / creer echange) de toute les pages */
button li a {
  font-size: 15px;
}

/*style pour le main de toutes les pages*/
main {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80%;
}

/*style de section pour toutes les pages sauf la pages utilisateurs*/
section {
  width: 100%;
  margin: 30px 0px;
  padding: 20px;
  overflow: hidden;
}

/*style  pour la balise section pour toutes les pages sauf la pages utilisateurs*/
section h2 {
  color: black;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}

/* style pour le titre de toutes les pages*/
#contenaire-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  background-color: #fff2e0;
  color: black;
  padding: 10px 50px;
  border-radius: 0px 0px 80px 80px;
  box-shadow: 0px -20px 40px 0px #14532d;

}