/* style pour la page d'accueil */
#echanges-list {
  list-style-type: none;
}

/* style pour la page d'accueil */
a h3 {
  font-size: 15px;
  text-align: end;
  display: inline;
}

/* style pour la page d'accueil */
#nom-echange {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 600;
}

/* style pour la page d'accueil*/
.text-echange {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

.btn-details-link a {
  text-decoration: none;
  color: black;
}

.echnage-item {
  height: auto;
  margin: 30px 0px;
  padding: 10px 20px;
  border-radius: 30px;
  color: black;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.20);
  overflow: hidden;
  transition: transform 0.4s ease;
}

.echnage-item:hover {
  transform: scale(1.01);
}

.contenaire-img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  margin: 8px 0px;
}

.contenaire-img h4 {
  text-transform: capitalize;
}

.livre-image {
  width: 5em;
  height: 7em;
}