#brique-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*style pour la page voir details de l'echange*/
.brique-item {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: 8px 11px 12px 1px #c8c8c8;
}

/*style pour la page voir details de l'echange*/
.brique-image {
  width: auto;
  height: 160px;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
}

/*style pour la page voir details de l'echange*/
.brique-item label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* style pour la page voir details d'echange */
#prix-total {
  margin: 20px;
}

#echange,
#proposition {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#echange h2,
#proposition h2 {
  text-decoration: underline;
  text-transform: capitalize;
}

#echange span,
#proposition span {
  font-size: 1.2rem;
  text-decoration: none;
}

#btn-creer-proposition,
.btn-details-link {
  text-align: center;
}

.btn-details-link a,
#btnCreerProposition {
  width: auto;
  height: 40px;
  padding: 0 20px;
  display: inline-block;
  align-content: center;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #54b3b1;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
  cursor: pointer;
}

#btnCreerProposition:hover,
.btn-details-link a:hover {
  transform: scale(1.02);
}

#liste-proposition span {
  display: block;
  width: 90%;
  height: 10px;
  margin: 30px auto;

  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.proposition-item {
  margin: 20px 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0px 0px 20px #54b3b16e;
}

.proposition-item ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}