#brique-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/*style pour la page voir details de l'echange*/
.brique-item {
  width: 8em;
  height: 21em;
  display: flex;
  flex-direction: column;
  margin: 20px;
  overflow: hidden;
}

/*style pour la page voir details de l'echange*/
.brique-image {
  position: relative;
  width: auto;
  height: 60%;
  margin-bottom: 10px;
  overflow: hidden;
}

.brique-image img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.langue {
  position: absolute;
  display: block;
  background-color: #f7d7ac;
  box-shadow: 0px 0px 9px 4px #00000061;
  top: 0;
  right: 20px;
  transform: rotate(45deg) translate(30px, -22px);
  width: 70px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}

.description-item {
  width: 100%;
  height: 40%;
}

.description-item h1 {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.description-item h2 {
  text-align: start;
  font-size: .8rem;
  font-weight: initial;
  max-height: 60%;
  overflow: hidden;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  border: none;
}

.description-item h3 {
  margin-top: .5em;
  font-size: .8rem;
}


#echange,
#proposition {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

#echange h2,
#proposition h2 {
  max-width: 60%;
  text-align: start;
  text-transform: capitalize;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
  overflow: hidden;
}

#echange span,
#proposition span {
  font-size: 1.2rem;
  text-decoration: none;
}

#btn-creer-proposition,
.btn-details-link {
  text-align: center;
  /* margin-top: 2em; */
}

.btn-details-link a,
#btnCreerProposition {
  width: auto;
  height: 40px;
  padding: 0 20px;
  display: inline-block;
  align-content: center;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #14532db0;
  box-shadow: 0px 5px 6px 0px #14532db0;
  transition: transform 0.3s ease;
  cursor: pointer;
}

#btnCreerProposition:hover,
.btn-details-link a:hover {
  transform: scale(1.02);
}

.proposition-item {
  margin: 20px 0px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px #14532d57;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.proposition-item ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.hidden-class {
  display: none;
}