/* style pour le header de toute la page*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* style pour le logo de site web*/
header h1 {
  font-size: 2rem;
  font-weight: 800;
}

/* style pour le logo de site web */
header h1 span {
  color: #14532d;
  font-size: 35px;
}

/* style pour le navigation*/
nav {
  display: flex;
  justify-content: center;
  text-decoration: none;
  gap: 50px;
  align-items: center;
  margin: 10px 0;
  text-align: center;
  border-radius: 60px;
}

/*style pour le navigation */
nav a,
nav input {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 700;
}

/*style pour la div qui contient le titre et le bouton utilisateur dans le header*/
.contenaire {
  position: relative;
  justify-content: space-between;
  align-items: center;
}

#utilisateur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* style pour le logo utilisateur dans le header */
#utilisateur a {
  color: #14532d;
  text-decoration: none;
  display: flex;
  gap: 6px;
  flex-direction: column;
  align-items: center;

  font-weight: 700;
}

/* style pour le logo utilisateur de header */
#utilisateur i {
  font-size: 2.3rem;
  color: black;
}

/*style pour le bouton utilisateur dans le header */
#utilisateur button {
  background-color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* style pour le lien du bouton utilisateur dans le header*/
#utilisateur button h3 a {
  text-decoration: none;
  display: inline;
}

#utilisateur form input {
  margin-top: .5rem;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-size: .8rem;
  font-weight: 700;
}