/* style pour la page d'utilisateur */
.bouton-supprimer {
  background: transparent;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.bouton-supprimer i {
  font-size: 2.5em;
  color: red;
}

.bouton-supprimer:hover {
  transform: rotate(15deg) scale(1.02);

}

/* style pour la page d'utilisateur */
#compte-utilisateur {
  font-size: 1rem;
  font-weight: 800;
  text-align: end;
  border: none;
  text-transform: capitalize;
}

/* style pour la page d'utilisateur */
.echange-item {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px;
  padding: 10px 20px;
  border-radius: 30px;
  color: black;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.20);
  overflow: hidden;
  transition: transform 0.4s ease;
}

.echange-item:hover {
  transform: scale(1.01);
}

/* style pour la page d'utilisateur */
#nom-echange {
  white-space: normal;
  max-width: 500px;
  text-transform: capitalize;
  margin: 0 0 30 0;
}

/* style pour la page d'utilisateur */
.echange-compte {
  margin-top: 25px;
  text-transform: uppercase;
}

/* style pour la page d'utilisateur */
.main-utilisateur {
  margin: 100px auto;
  padding: 0 20px 20px;
  width: 80%;
  box-sizing: content-box;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0.5px #54b3b1;
  overflow: hidden;
}

.btn-details-link a {
  display: flex;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
}